.App {
  text-align: center;
}
form {
  margin: 50px;
  border: 1px solid black;
  padding: 15px;
}
input {
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 6px;
}
button {
  outline: none;
  padding: 7px 10px;
  background-color: rgb(75, 222, 248);
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.content {
  font-size: medium;
  font-weight: bold;
}
.edit {
  background-color: rgb(252, 243, 116);
  color: rgb(143, 143, 143);
}
.edit:hover {
  background-color: rgb(247, 236, 88);
  color: rgb(143, 143, 143);
}
.delete {
  background-color: rgb(252, 71, 95);
  color: rgb(231, 231, 231);
}
.delete:hover {
  background-color: rgb(228, 43, 67);
  color: rgb(231, 231, 231);
}
